/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "pagination";

.container-fluid {
  width: 100%;
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 5px;
}

.navbar-brand:hover {
color: #1eb28a;
}

.navbar-nav > li > a {
  color: white;
  padding: 15px;
}

.navbar-nav > li > a:hover {
  text-decoration: none;
  color: #1eb28a;
}

.jumbotron {
  background-image: asset-url("park_guell.jpg");
  background-size: cover;
  height: 700px;
}

.log-in-form {
  background-color: #ffffff;
  opacity: 0.8;
  padding: 20px;
}

.not-decorated-list {
  list-style-type: none;
  padding-left: 0;
}

.navbar-link mx-lg-1 {
  margin: 0;
}

.row.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}

.payers-list {
  color: red;
}

.borrowers-list {
  color: green;
}

.users-listing {
  margin: 20px;
  padding: 20px;
}

.users-listing:hover {
  background-color: lightgrey;
}

#notice {
  display: none;
}
